{% load static  %}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TextyImgy</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <style> @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); </style>
  </head>

  <body>
    <div class="container1">
        {% for img_tag in img_tags %}
            {% comment %} <h2>{{ image.name }}</h2> {% endcomment %}
            <div>
                {{ img_tag|safe }}
            </div>
        {% endfor %}
    </div>

  </body>

</html>